# Preprocessing

## Import library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Import dataset

In [2]:
dataset = pd.read_csv('data.csv')
dataset.head()

              Names  Age  ...                   Company  Churn
0        Aaron King   46  ...             Hernandez PLC      0
1       Aaron Meyer   45  ...    Steele, Bates and Lane      0
2        Aaron West   55  ...    Cruz, Russell and Boyd      0
3  Abigail Gonzalez   55  ...                Nelson PLC      0
4  Abigail Jennings   36  ...  Simpson, Byrd and Miller      0

[5 rows x 10 columns]

## Hapus variabel yang tidak digunakan

In [3]:
# Akan dihilangkan variabel "Names", "Onboard_date", "Location", dan "Company"
dataset = dataset.drop(labels=["Names", "Onboard_date", "Location", "Company"], axis=1)
dataset

     Age  Total_Purchase  Account_Manager  Years  Num_Sites  Churn
0     46         7504.79                0   5.98          8      0
1     45         9598.03                0   5.00          7      0
2     55        10056.55                0   4.98          8      0
3     55         8243.28                0   3.54          6      0
4     36        12309.23                1   4.76          9      0
..   ...             ...              ...    ...        ...    ...
745   47         8291.93                0   4.47          7      0
746   53         8122.34                0   3.51          9      0
747   49         9000.36                0   4.13         11      0
748   28         8670.98                0   3.99          6      0
749   32         9885.12                1   6.92          9      1

[750 rows x 6 columns]

## Definisikan variabel

In [4]:
X = dataset.iloc[:, :5].values
X

array([[4.600000e+01, 7.504790e+03, 0.000000e+00, 5.980000e+00,
        8.000000e+00],
       [4.500000e+01, 9.598030e+03, 0.000000e+00, 5.000000e+00,
        7.000000e+00],
       [5.500000e+01, 1.005655e+04, 0.000000e+00, 4.980000e+00,
        8.000000e+00],
       ...,
       [4.900000e+01, 9.000360e+03, 0.000000e+00, 4.130000e+00,
        1.100000e+01],
       [2.800000e+01, 8.670980e+03, 0.000000e+00, 3.990000e+00,
        6.000000e+00],
       [3.200000e+01, 9.885120e+03, 1.000000e+00, 6.920000e+00,
        9.000000e+00]])

In [5]:
Y = dataset.iloc[:, 5].values
Y

array([0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1])

## Cek data

In [6]:
dataset.describe()

# 1. Diperoleh bahwa tidak ada data yang missing (lihat baris count)
# 2. Diperoleh bahwa kolom Total_Purchase mempunyai standar deviasi yang besar, sehingga nantinya akan dilakukan scaling (selain kolom yang dikodekan)

              Age  Total_Purchase  ...   Num_Sites       Churn
count  750.000000      750.000000  ...  750.000000  750.000000
mean    41.850667    10055.878080  ...    8.649333    0.194667
std      6.141552     2350.437004  ...    1.808146    0.396208
min     22.000000     3263.000000  ...    3.000000    0.000000
25%     38.000000     8520.490000  ...    7.000000    0.000000
50%     41.000000    10045.870000  ...    9.000000    0.000000
75%     46.000000    11752.855000  ...   10.000000    0.000000
max     65.000000    18026.010000  ...   14.000000    1.000000

[8 rows x 6 columns]

In [7]:
print(dataset.groupby('Account_Manager').size()) # Variabel "Account_Manager" adalah data kategorik

Account_Manager
0    381
1    369
dtype: int64

## Bagi data menjadi training set dan test set

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

In [9]:
print(X_train)

[[4.000000e+01 7.642200e+03 0.000000e+00 5.040000e+00 9.000000e+00]
 [3.600000e+01 1.287970e+04 0.000000e+00 4.700000e+00 9.000000e+00]
 [4.400000e+01 6.517220e+03 0.000000e+00 4.550000e+00 1.200000e+01]
 ...
 [4.500000e+01 1.157584e+04 0.000000e+00 5.510000e+00 9.000000e+00]
 [4.500000e+01 9.721590e+03 0.000000e+00 3.430000e+00 9.000000e+00]
 [3.900000e+01 1.064367e+04 0.000000e+00 5.540000e+00 1.000000e+01]]

In [10]:
print(X_test)

[[3.600000e+01 1.228458e+04 1.000000e+00 5.700000e+00 9.000000e+00]
 [4.300000e+01 9.399920e+03 1.000000e+00 4.980000e+00 8.000000e+00]
 [4.100000e+01 1.442941e+04 1.000000e+00 5.510000e+00 1.100000e+01]
 [4.200000e+01 6.406380e+03 0.000000e+00 3.000000e+00 9.000000e+00]
 [3.400000e+01 1.046656e+04 0.000000e+00 5.340000e+00 7.000000e+00]
 [4.200000e+01 9.635870e+03 1.000000e+00 2.430000e+00 9.000000e+00]
 [4.400000e+01 1.058586e+04 0.000000e+00 5.540000e+00 8.000000e+00]
 [3.200000e+01 9.472720e+03 1.000000e+00 1.000000e+00 1.000000e+01]
 [3.900000e+01 9.353380e+03 0.000000e+00 4.060000e+00 7.000000e+00]
 [4.600000e+01 1.081459e+04 0.000000e+00 4.910000e+00 8.000000e+00]
 [4.000000e+01 8.083760e+03 0.000000e+00 4.760000e+00 7.000000e+00]
 [4.100000e+01 8.021050e+03 1.000000e+00 3.160000e+00 9.000000e+00]
 [3.400000e+01 9.401990e+03 1.000000e+00 8.250000e+00 9.000000e+00]
 [3.700000e+01 8.397410e+03 0.000000e+00 5.590000e+00 1.200000e+01]
 [4.600000e+01 9.988680e+03 1.000000e+00 5.440000e+00 8.000000e+00]
 [5.300000e+01 3.263000e+03 1.000000e+00 2.770000e+00 9.000000e+00]
 [3.400000e+01 1.276001e+04 0.000000e+00 3.870000e+00 8.000000e+00]
 [4.400000e+01 1.272155e+04 0.000000e+00 5.180000e+00 1.100000e+01]
 [3.900000e+01 8.667020e+03 0.000000e+00 6.820000e+00 1.000000e+01]
 [4.300000e+01 1.057814e+04 0.000000e+00 1.870000e+00 1.000000e+01]
 [4.900000e+01 1.351096e+04 1.000000e+00 6.390000e+00 9.000000e+00]
 [4.200000e+01 8.519640e+03 0.000000e+00 3.990000e+00 8.000000e+00]
 [4.400000e+01 1.176865e+04 0.000000e+00 5.540000e+00 7.000000e+00]
 [4.700000e+01 1.033216e+04 1.000000e+00 4.890000e+00 9.000000e+00]
 [5.200000e+01 9.065280e+03 0.000000e+00 3.990000e+00 5.000000e+00]
 [4.000000e+01 1.161151e+04 1.000000e+00 5.640000e+00 1.400000e+01]
 [3.500000e+01 6.683820e+03 1.000000e+00 7.820000e+00 7.000000e+00]
 [4.000000e+01 7.380480e+03 1.000000e+00 6.450000e+00 7.000000e+00]
 [4.900000e+01 1.169504e+04 1.000000e+00 5.640000e+00 9.000000e+00]
 [4.400000e+01 8.274320e+03 0.000000e+00 5.700000e+00 8.000000e+00]
 [4.600000e+01 1.046950e+04 0.000000e+00 6.540000e+00 1.000000e+01]
 [4.300000e+01 8.261890e+03 0.000000e+00 7.360000e+00 9.000000e+00]
 [3.600000e+01 8.931090e+03 1.000000e+00 7.550000e+00 7.000000e+00]
 [5.000000e+01 1.177575e+04 1.000000e+00 4.830000e+00 1.000000e+01]
 [4.700000e+01 9.303430e+03 0.000000e+00 5.500000e+00 8.000000e+00]
 [4.300000e+01 1.311673e+04 0.000000e+00 3.570000e+00 9.000000e+00]
 [4.000000e+01 1.157555e+04 1.000000e+00 5.220000e+00 5.000000e+00]
 [5.100000e+01 6.517930e+03 1.000000e+00 5.470000e+00 1.000000e+01]
 [4.400000e+01 8.817220e+03 1.000000e+00 6.530000e+00 1.000000e+01]
 [4.400000e+01 8.615520e+03 0.000000e+00 7.390000e+00 9.000000e+00]
 [4.300000e+01 1.406260e+04 1.000000e+00 5.460000e+00 1.100000e+01]
 [5.100000e+01 6.662590e+03 1.000000e+00 5.270000e+00 9.000000e+00]
 [4.200000e+01 1.167032e+04 0.000000e+00 5.510000e+00 7.000000e+00]
 [4.100000e+01 5.191080e+03 0.000000e+00 6.290000e+00 7.000000e+00]
 [4.200000e+01 1.023695e+04 1.000000e+00 5.710000e+00 8.000000e+00]
 [4.500000e+01 9.598030e+03 0.000000e+00 5.000000e+00 7.000000e+00]
 [3.500000e+01 1.348091e+04 1.000000e+00 4.410000e+00 7.000000e+00]
 [4.300000e+01 1.093811e+04 0.000000e+00 3.210000e+00 8.000000e+00]
 [4.200000e+01 9.349990e+03 1.000000e+00 4.380000e+00 7.000000e+00]
 [2.800000e+01 1.112895e+04 1.000000e+00 5.120000e+00 8.000000e+00]
 [5.000000e+01 1.294112e+04 1.000000e+00 5.510000e+00 1.100000e+01]
 [4.100000e+01 9.574640e+03 1.000000e+00 3.720000e+00 7.000000e+00]
 [3.600000e+01 8.646720e+03 0.000000e+00 6.330000e+00 8.000000e+00]
 [5.100000e+01 7.985760e+03 1.000000e+00 3.480000e+00 8.000000e+00]
 [4.100000e+01 1.063184e+04 1.000000e+00 3.470000e+00 9.000000e+00]
 [5.400000e+01 1.021659e+04 0.000000e+00 2.770000e+00 7.000000e+00]
 [3.700000e+01 9.191580e+03 0.000000e+00 5.560000e+00 9.000000e+00]
 [3.400000e+01 1.346092e+04 1.000000e+00 3.670000e+00 7.000000e+00]
 [3.700000e+01 6.362930e+03 1.000000e+00 6.800000e+00 7.000000e+00]
 [5.100000e+01 6.114850e+03 1.000000e+00 4.700000e+00 9.000000e+00]
 [4.100000e+01 1.200834e+04 1.000000e+00 4.940000e+00 7.000000e+00]
 [5.100000e+01 1.087781e+04 1.000000e+00 8.350000e+00 8.000000e+00]
 [3.500000e+01 1.368025e+04 1.000000e+00 5.790000e+00 9.000000e+00]
 [3.700000e+01 1.191213e+04 0.000000e+00 5.670000e+00 1.000000e+01]
 [3.900000e+01 1.038838e+04 0.000000e+00 5.100000e+00 7.000000e+00]
 [4.600000e+01 1.134333e+04 1.000000e+00 3.690000e+00 8.000000e+00]
 [4.800000e+01 9.282990e+03 0.000000e+00 4.320000e+00 6.000000e+00]
 [2.900000e+01 1.020318e+04 1.000000e+00 5.820000e+00 8.000000e+00]
 [5.200000e+01 8.563240e+03 0.000000e+00 5.290000e+00 1.100000e+01]
 [4.100000e+01 8.143380e+03 1.000000e+00 2.640000e+00 5.000000e+00]
 [3.000000e+01 8.874830e+03 0.000000e+00 5.560000e+00 9.000000e+00]
 [3.500000e+01 9.766950e+03 1.000000e+00 4.590000e+00 1.300000e+01]
 [5.600000e+01 8.626480e+03 1.000000e+00 5.070000e+00 7.000000e+00]
 [4.500000e+01 1.066891e+04 0.000000e+00 7.210000e+00 8.000000e+00]
 [4.700000e+01 8.291930e+03 0.000000e+00 4.470000e+00 7.000000e+00]
 [3.400000e+01 9.845350e+03 0.000000e+00 4.820000e+00 7.000000e+00]
 [4.700000e+01 1.058471e+04 0.000000e+00 6.050000e+00 8.000000e+00]
 [4.700000e+01 1.415426e+04 0.000000e+00 4.730000e+00 9.000000e+00]
 [3.800000e+01 8.473650e+03 1.000000e+00 4.780000e+00 7.000000e+00]
 [5.200000e+01 1.466961e+04 0.000000e+00 6.280000e+00 9.000000e+00]
 [3.900000e+01 1.115946e+04 0.000000e+00 3.950000e+00 1.100000e+01]
 [3.400000e+01 8.772260e+03 0.000000e+00 5.780000e+00 9.000000e+00]
 [3.200000e+01 1.240360e+04 0.000000e+00 4.990000e+00 7.000000e+00]
 [5.400000e+01 1.214783e+04 1.000000e+00 4.170000e+00 8.000000e+00]
 [4.100000e+01 1.165582e+04 1.000000e+00 7.920000e+00 9.000000e+00]
 [3.400000e+01 5.447160e+03 1.000000e+00 4.130000e+00 9.000000e+00]
 [3.500000e+01 9.435200e+03 1.000000e+00 6.230000e+00 7.000000e+00]
 [4.600000e+01 1.153769e+04 1.000000e+00 6.370000e+00 7.000000e+00]
 [5.400000e+01 8.092550e+03 1.000000e+00 4.550000e+00 1.000000e+01]
 [3.800000e+01 9.347470e+03 0.000000e+00 8.470000e+00 8.000000e+00]
 [4.800000e+01 1.374312e+04 1.000000e+00 4.830000e+00 7.000000e+00]
 [4.100000e+01 8.996040e+03 1.000000e+00 6.190000e+00 9.000000e+00]
 [4.100000e+01 1.169926e+04 0.000000e+00 6.990000e+00 1.200000e+01]
 [5.000000e+01 1.129445e+04 1.000000e+00 2.170000e+00 1.000000e+01]
 [3.600000e+01 1.044809e+04 0.000000e+00 4.130000e+00 8.000000e+00]
 [4.400000e+01 5.002580e+03 0.000000e+00 4.570000e+00 1.100000e+01]
 [3.600000e+01 4.690570e+03 1.000000e+00 5.410000e+00 8.000000e+00]
 [3.900000e+01 9.528990e+03 0.000000e+00 5.970000e+00 8.000000e+00]
 [5.500000e+01 1.005655e+04 0.000000e+00 4.980000e+00 8.000000e+00]
 [4.200000e+01 9.625890e+03 1.000000e+00 5.840000e+00 9.000000e+00]
 [4.500000e+01 1.278321e+04 1.000000e+00 4.470000e+00 1.000000e+01]
 [4.700000e+01 6.670370e+03 0.000000e+00 2.550000e+00 9.000000e+00]
 [4.900000e+01 1.122748e+04 0.000000e+00 5.100000e+00 9.000000e+00]
 [4.200000e+01 9.741190e+03 1.000000e+00 3.850000e+00 9.000000e+00]
 [5.100000e+01 5.830990e+03 0.000000e+00 6.930000e+00 6.000000e+00]
 [4.200000e+01 1.082796e+04 1.000000e+00 4.200000e+00 1.000000e+01]
 [4.400000e+01 8.819130e+03 1.000000e+00 4.380000e+00 1.000000e+01]
 [4.400000e+01 8.917570e+03 0.000000e+00 4.280000e+00 6.000000e+00]
 [4.100000e+01 1.473809e+04 1.000000e+00 6.500000e+00 8.000000e+00]
 [3.700000e+01 7.961210e+03 0.000000e+00 2.910000e+00 9.000000e+00]
 [3.200000e+01 1.247972e+04 0.000000e+00 4.670000e+00 8.000000e+00]
 [4.900000e+01 1.317380e+04 1.000000e+00 6.360000e+00 1.200000e+01]
 [4.200000e+01 1.298906e+04 0.000000e+00 5.000000e+00 1.000000e+01]
 [5.100000e+01 1.032307e+04 1.000000e+00 7.030000e+00 9.000000e+00]
 [3.200000e+01 8.617980e+03 1.000000e+00 6.200000e+00 1.000000e+01]
 [4.500000e+01 4.863730e+03 1.000000e+00 5.170000e+00 8.000000e+00]
 [4.100000e+01 9.091210e+03 0.000000e+00 4.550000e+00 1.100000e+01]
 [4.100000e+01 1.037539e+04 0.000000e+00 5.540000e+00 8.000000e+00]
 [3.300000e+01 8.556730e+03 0.000000e+00 4.210000e+00 9.000000e+00]
 [4.100000e+01 1.091981e+04 0.000000e+00 4.630000e+00 8.000000e+00]
 [4.400000e+01 1.179491e+04 0.000000e+00 6.320000e+00 6.000000e+00]
 [3.400000e+01 9.228840e+03 1.000000e+00 5.290000e+00 1.200000e+01]
 [4.600000e+01 1.329689e+04 1.000000e+00 4.810000e+00 6.000000e+00]
 [3.100000e+01 7.073610e+03 0.000000e+00 5.730000e+00 9.000000e+00]
 [5.500000e+01 1.683894e+04 1.000000e+00 6.660000e+00 8.000000e+00]
 [4.200000e+01 8.010760e+03 0.000000e+00 6.710000e+00 1.000000e+01]
 [4.300000e+01 1.269145e+04 0.000000e+00 4.450000e+00 1.100000e+01]
 [4.200000e+01 6.523740e+03 0.000000e+00 2.710000e+00 8.000000e+00]
 [3.800000e+01 1.136099e+04 0.000000e+00 4.500000e+00 7.000000e+00]
 [4.700000e+01 1.071897e+04 0.000000e+00 5.740000e+00 7.000000e+00]
 [3.100000e+01 1.129757e+04 1.000000e+00 6.230000e+00 1.000000e+01]
 [5.600000e+01 1.007440e+04 1.000000e+00 5.170000e+00 7.000000e+00]
 [4.300000e+01 1.252468e+04 0.000000e+00 5.980000e+00 1.000000e+01]
 [3.700000e+01 8.818030e+03 1.000000e+00 2.890000e+00 9.000000e+00]
 [3.700000e+01 8.316890e+03 0.000000e+00 3.600000e+00 8.000000e+00]
 [4.100000e+01 1.092154e+04 0.000000e+00 5.070000e+00 3.000000e+00]
 [4.100000e+01 9.014900e+03 1.000000e+00 4.450000e+00 7.000000e+00]
 [4.600000e+01 1.466400e+04 0.000000e+00 6.540000e+00 8.000000e+00]
 [3.700000e+01 1.007671e+04 0.000000e+00 6.500000e+00 7.000000e+00]
 [4.500000e+01 6.681610e+03 1.000000e+00 5.600000e+00 8.000000e+00]
 [4.300000e+01 8.817290e+03 0.000000e+00 3.190000e+00 8.000000e+00]
 [4.500000e+01 6.977560e+03 0.000000e+00 6.940000e+00 1.100000e+01]
 [2.600000e+01 8.787390e+03 1.000000e+00 5.420000e+00 1.100000e+01]
 [3.900000e+01 1.114451e+04 0.000000e+00 4.250000e+00 9.000000e+00]
 [2.900000e+01 1.325505e+04 1.000000e+00 4.890000e+00 8.000000e+00]
 [3.500000e+01 8.190270e+03 0.000000e+00 6.280000e+00 7.000000e+00]
 [4.300000e+01 1.027119e+04 1.000000e+00 5.310000e+00 1.400000e+01]
 [4.000000e+01 1.037072e+04 1.000000e+00 4.350000e+00 5.000000e+00]
 [4.100000e+01 9.139730e+03 1.000000e+00 5.150000e+00 1.000000e+01]
 [4.300000e+01 9.735410e+03 0.000000e+00 6.120000e+00 8.000000e+00]
 [3.700000e+01 8.198060e+03 1.000000e+00 5.040000e+00 1.200000e+01]
 [3.900000e+01 1.302961e+04 1.000000e+00 4.830000e+00 8.000000e+00]
 [3.200000e+01 1.071675e+04 0.000000e+00 5.120000e+00 8.000000e+00]
 [4.900000e+01 1.268135e+04 0.000000e+00 3.680000e+00 5.000000e+00]
 [3.900000e+01 1.201993e+04 0.000000e+00 4.870000e+00 1.000000e+01]
 [4.300000e+01 7.948180e+03 0.000000e+00 3.880000e+00 7.000000e+00]
 [4.500000e+01 9.034210e+03 0.000000e+00 6.890000e+00 9.000000e+00]
 [3.000000e+01 1.157537e+04 1.000000e+00 5.220000e+00 8.000000e+00]
 [3.700000e+01 8.736060e+03 1.000000e+00 5.510000e+00 1.200000e+01]
 [4.500000e+01 9.874690e+03 1.000000e+00 2.410000e+00 9.000000e+00]
 [4.500000e+01 1.148653e+04 1.000000e+00 5.500000e+00 7.000000e+00]
 [5.000000e+01 1.019944e+04 0.000000e+00 5.790000e+00 9.000000e+00]
 [4.400000e+01 1.063865e+04 0.000000e+00 5.540000e+00 6.000000e+00]
 [3.600000e+01 1.048433e+04 1.000000e+00 8.840000e+00 1.000000e+01]
 [4.000000e+01 1.245372e+04 1.000000e+00 4.830000e+00 9.000000e+00]
 [4.600000e+01 1.140163e+04 0.000000e+00 6.130000e+00 5.000000e+00]
 [3.800000e+01 1.049482e+04 1.000000e+00 6.810000e+00 1.200000e+01]
 [3.500000e+01 8.828590e+03 0.000000e+00 6.770000e+00 9.000000e+00]
 [3.700000e+01 1.371741e+04 1.000000e+00 6.500000e+00 7.000000e+00]
 [4.000000e+01 1.291992e+04 0.000000e+00 4.230000e+00 1.100000e+01]
 [4.800000e+01 5.622500e+03 0.000000e+00 6.050000e+00 7.000000e+00]
 [3.600000e+01 9.593710e+03 0.000000e+00 3.980000e+00 6.000000e+00]
 [3.800000e+01 1.288475e+04 0.000000e+00 6.670000e+00 1.200000e+01]
 [4.900000e+01 1.211253e+04 0.000000e+00 7.310000e+00 9.000000e+00]
 [4.000000e+01 1.143461e+04 1.000000e+00 8.510000e+00 1.000000e+01]
 [3.700000e+01 9.229960e+03 0.000000e+00 3.650000e+00 8.000000e+00]
 [3.800000e+01 7.097520e+03 1.000000e+00 4.680000e+00 6.000000e+00]
 [3.200000e+01 7.896650e+03 0.000000e+00 7.120000e+00 8.000000e+00]
 [4.000000e+01 4.762810e+03 1.000000e+00 5.120000e+00 1.000000e+01]
 [5.200000e+01 1.336821e+04 1.000000e+00 4.090000e+00 9.000000e+00]
 [4.400000e+01 9.723710e+03 0.000000e+00 4.340000e+00 9.000000e+00]
 [4.200000e+01 8.218630e+03 0.000000e+00 5.900000e+00 9.000000e+00]
 [3.800000e+01 1.175869e+04 0.000000e+00 6.970000e+00 1.100000e+01]
 [3.400000e+01 1.239749e+04 0.000000e+00 4.930000e+00 9.000000e+00]
 [4.300000e+01 8.601010e+03 0.000000e+00 5.650000e+00 1.200000e+01]
 [4.800000e+01 8.513750e+03 1.000000e+00 8.240000e+00 1.000000e+01]
 [3.900000e+01 1.100800e+04 0.000000e+00 4.420000e+00 8.000000e+00]
 [4.500000e+01 1.205618e+04 0.000000e+00 5.460000e+00 4.000000e+00]]

## Scaling

In [11]:
# Akan dilakukan scaling pada semua variabel X kecuali "Account_Manager"
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, :2] = sc.fit_transform(X_train[:, :2])
X_train[:, 3:] = sc.fit_transform(X_train[:, 3:])
X_test[:, :2] = sc.fit_transform(X_test[:, :2])
X_test[:, 3:] = sc.fit_transform(X_test[:, 3:])

In [12]:
print(X_train)

[[-0.30749413 -1.01781533  0.         -0.22673952  0.17680023]
 [-0.95961374  1.19335965  0.         -0.49454387  0.17680023]
 [ 0.34462549 -1.49276094  0.         -0.61269285  1.83282904]
 ...
 [ 0.5076554   0.64289424  0.          0.14346061  0.17680023]
 [ 0.5076554  -0.13993559  0.         -1.49487188  0.17680023]
 [-0.47052403  0.24934942  0.          0.16709041  0.72880983]]

In [13]:
print(X_test)

[[-0.93454702  0.97009005  1.          0.35001933  0.24664505]
 [ 0.20421583 -0.29030342  1.         -0.18012072 -0.31202085]
 [-0.12114498  1.90722987  1.          0.21012126  1.36397686]
 [ 0.04153542 -1.5982698   0.         -1.63800586  0.24664505]
 [-1.25990784  0.17574321  0.          0.0849493  -0.87068675]
 [ 0.04153542 -0.18720987  1.         -2.05770007  0.24664505]
 [ 0.36689624  0.22786892  0.          0.23221043 -0.31202085]
 [-1.58526866 -0.25849495  1.         -3.11061712  0.80531096]
 [-0.4465058  -0.31063813  0.         -0.8575219  -0.87068675]
 [ 0.69225705  0.32780784  0.         -0.23166212 -0.31202085]
 [-0.28382539 -0.86537275  0.         -0.34210796 -0.87068675]
 [-0.12114498 -0.89277261  1.         -1.52019696  0.24664505]
 [-1.25990784 -0.28939898  1.          2.22759868  0.24664505]
 [-0.77186662 -0.72832977  0.          0.26902571  1.92264276]
 [ 0.69225705 -0.03305673  1.          0.15857987 -0.31202085]
 [ 1.83101991 -2.97170571  1.         -1.80735616  0.24664505]
 [-1.25990784  1.17781951  0.         -0.99741997 -0.31202085]
 [ 0.36689624  1.1610152   0.         -0.0328596   1.36397686]
 [-0.4465058  -0.61052916  0.          1.17468163  0.80531096]
 [ 0.20421583  0.22449582  0.         -2.47003122  0.80531096]
 [ 1.18029828  1.50593183  1.          0.85807021  0.24664505]
 [ 0.04153542 -0.67492385  0.         -0.90906329 -0.31202085]
 [ 0.36689624  0.74466494  0.          0.23221043 -0.87068675]
 [ 0.85493746  0.11701987  1.         -0.24638823  0.24664505]
 [ 1.6683395  -0.43651756  0.         -0.90906329 -1.98801856]
 [-0.28382539  0.67600581  1.          0.30584099  3.03997457]
 [-1.09722743 -1.47704804  1.          1.91098726 -0.87068675]
 [-0.28382539 -1.17265663  1.          0.90224855 -0.87068675]
 [ 1.18029828  0.71250255  1.          0.30584099  0.24664505]
 [ 0.36689624 -0.78211144  0.          0.35001933 -0.31202085]
 [ 0.69225705  0.17702779  0.          0.96851606  0.80531096]
 [ 0.20421583 -0.78754247  0.          1.57228667  0.24664505]
 [-0.93454702 -0.49514915  1.          1.71218474 -0.87068675]
 [ 1.34297869  0.74776714  1.         -0.29056657  0.80531096]
 [ 0.85493746 -0.33246277  0.          0.2027582  -0.31202085]
 [ 0.20421583  1.33368106  0.         -1.21831166  0.24664505]
 [-0.28382539  0.66029382  1.         -0.00340737 -1.98801856]
 [ 1.50565909 -1.5495303   1.          0.18066903  0.80531096]
 [ 0.36689624 -0.54490233  1.          0.961153    0.80531096]
 [ 0.36689624 -0.63303104  0.          1.59437584  0.24664505]
 [ 0.20421583  1.7469597   1.          0.17330598  1.36397686]
 [ 1.50565909 -1.48632406  1.          0.03340791  0.24664505]
 [ 0.04153542  0.70170165  0.          0.21012126 -0.87068675]
 [-0.12114498 -2.1292704   0.          0.78443965 -0.87068675]
 [ 0.04153542  0.0754198   1.          0.35738239 -0.31202085]
 [ 0.52957665 -0.20374329  0.         -0.16539461 -0.87068675]
 [-1.09722743  1.4928021   1.         -0.59981493 -0.87068675]
 [ 0.20421583  0.38177739  0.         -1.48338168 -0.31202085]
 [ 0.04153542 -0.31211932  1.         -0.6219041  -0.87068675]
 [-2.23599029  0.46516104  1.         -0.07703793 -0.31202085]
 [ 1.34297869  1.25695184  1.          0.21012126  1.36397686]
 [-0.12114498 -0.21396308  1.         -1.10786581 -0.87068675]
 [-0.93454702 -0.61939883  0.          0.81389187 -0.31202085]
 [ 1.50565909 -0.90819185  1.         -1.28457916 -0.31202085]
 [-0.12114498  0.24795895  1.         -1.29194222  0.24664505]
 [ 1.99370032  0.06652391  0.         -1.80735616 -0.87068675]
 [-0.77186662 -0.38133335  0.          0.24693654  0.24664505]
 [-1.25990784  1.48406787  1.         -1.14468109 -0.87068675]
 [-0.77186662 -1.61725439  1.          1.15995552 -0.87068675]
 [ 1.50565909 -1.7256479   1.         -0.3862863   0.24664505]
 [-0.12114498  0.8493926   1.         -0.20957295 -0.87068675]
 [ 1.50565909  0.35543053  1.          2.30122924 -0.31202085]
 [-1.09722743  1.57989965  1.          0.41628684  0.24664505]
 [-0.77186662  0.8073556   0.          0.32793016  0.80531096]
 [-0.4465058   0.14158405  0.         -0.09176405 -0.87068675]
 [ 0.69225705  0.55883002  1.         -1.12995498 -0.31202085]
 [ 1.01761787 -0.34139361  0.         -0.66608244 -1.42935266]
 [-2.07330988  0.06066468  1.          0.438376   -0.31202085]
 [ 1.6683395  -0.65587372  0.          0.04813402  1.36397686]
 [-0.12114498 -0.839323    1.         -1.90307589 -1.98801856]
 [-1.91062947 -0.51973081  0.          0.24693654  0.24664505]
 [-1.09722743 -0.12993714  1.         -0.46727992  2.48130867]
 [ 2.31906113 -0.62824229  1.         -0.11385322 -0.87068675]
 [ 0.52957665  0.26415593  0.          1.46184082 -0.31202085]
 [ 0.85493746 -0.7744171   0.         -0.55563659 -0.87068675]
 [-1.25990784 -0.09568185  0.         -0.29792962 -0.87068675]
 [ 0.85493746  0.22736645  0.          0.6077263  -0.31202085]
 [ 0.85493746  1.78700867  0.         -0.36419713  0.24664505]
 [-0.60918621 -0.69501825  1.         -0.32738185 -0.87068675]
 [ 1.6683395   2.01218037  0.          0.77707659  0.24664505]
 [-0.4465058   0.47849177  0.         -0.93851552  1.36397686]
 [-1.25990784 -0.56454669  0.          0.40892378  0.24664505]
 [-1.58526866  1.02209342  0.         -0.17275767 -0.87068675]
 [ 1.99370032  0.91033992  1.         -0.77652828 -0.31202085]
 [-0.12114498  0.69536617  1.          1.98461782  0.24664505]
 [-1.25990784 -2.01738146  1.         -0.8059805   0.24664505]
 [-1.09722743 -0.27488855  1.          0.74026131 -0.87068675]
 [ 0.69225705  0.64375167  1.          0.8433441  -0.87068675]
 [ 1.99370032 -0.86153214  1.         -0.49673214  0.80531096]
 [-0.60918621 -0.31322038  0.          2.38958591 -0.31202085]
 [ 1.01761787  1.60736942  1.         -0.29056657 -0.87068675]
 [-0.12114498 -0.46677057  1.          0.71080909  0.24664505]
 [-0.12114498  0.71434639  0.          1.29985359  1.92264276]
 [ 1.34297869  0.5374729   1.         -2.24913953  0.80531096]
 [-0.93454702  0.16767312  0.         -0.8059805  -0.31202085]
 [ 0.36689624 -2.21163164  0.         -0.48200603  1.36397686]
 [-0.93454702 -2.34795806  1.          0.1364907  -0.31202085]
 [-0.4465058  -0.23390892  0.          0.54882185 -0.31202085]
 [ 2.15638073 -0.00340231  0.         -0.18012072 -0.31202085]
 [ 0.04153542 -0.19157043  1.          0.45310212  0.24664505]
 [ 0.52957665  1.18795628  1.         -0.55563659  0.80531096]
 [ 0.85493746 -1.48292474  0.         -1.96934339  0.24664505]
 [ 1.18029828  0.50821172  0.         -0.09176405  0.24664505]
 [ 0.04153542 -0.14119244  1.         -1.01214608  0.24664505]
 [ 1.50565909 -1.84967475  0.          1.25567525 -1.42935266]
 [ 0.04153542  0.33364959  1.         -0.75443911  0.80531096]
 [ 0.36689624 -0.54406779  1.         -0.6219041   0.80531096]
 [ 0.36689624 -0.50105644  0.         -0.69553466 -1.42935266]
 [-0.12114498  2.04210131  1.          0.93906383 -0.31202085]
 [-0.77186662 -0.91891848  0.         -1.70427337  0.24664505]
 [-1.58526866  1.0553525   0.         -0.40837547 -0.31202085]
 [ 1.18029828  1.35861663  1.          0.83598104  1.92264276]
 [ 0.04153542  1.27789825  0.         -0.16539461  0.80531096]
 [ 1.50565909  0.11304818  1.          1.32930581  0.24664505]
 [-1.58526866 -0.63195619  1.          0.71817214  0.80531096]
 [ 0.52957665 -2.27229932  1.         -0.04022265 -0.31202085]
 [-0.12114498 -0.42518798  0.         -0.49673214  1.36397686]
 [-0.12114498  0.13590834  0.          0.23221043 -0.31202085]
 [-1.42258825 -0.65871813  0.         -0.74707605  0.24664505]
 [-0.12114498  0.37378158  0.         -0.43782769 -0.31202085]
 [ 0.36689624  0.75613871  0.          0.80652882 -1.42935266]
 [-1.25990784 -0.36505335  1.          0.04813402  1.92264276]
 [ 0.69225705  1.4123983   1.         -0.30529268 -1.42935266]
 [-1.74794906 -1.30673723  0.          0.3721085   0.24664505]
 [ 2.15638073  2.96002496  1.          1.05687273 -0.31202085]
 [ 0.04153542 -0.89726861  0.          1.09368801  0.80531096]
 [ 0.20421583  1.14786362  0.         -0.5703627   1.36397686]
 [ 0.04153542 -1.54699174  0.         -1.85153449 -0.31202085]
 [-0.60918621  0.5665462   0.         -0.53354742 -0.87068675]
 [ 0.85493746  0.28602863  0.          0.37947155 -0.87068675]
 [-1.74794906  0.53883612  1.          0.74026131  0.80531096]
 [ 2.31906113  0.00439688  1.         -0.04022265 -0.87068675]
 [ 0.20421583  1.07499686  0.          0.5561849   0.80531096]
 [-0.77186662 -0.54454842  1.         -1.71899948  0.24664505]
 [-0.77186662 -0.76351134  0.         -1.19622249 -0.31202085]
 [-0.12114498  0.37453746  0.         -0.11385322 -3.10535037]
 [-0.12114498 -0.45853008  1.         -0.5703627  -0.87068675]
 [ 0.69225705  2.00972919  0.          0.96851606 -0.31202085]
 [-0.77186662  0.00540619  0.          0.93906383 -0.87068675]
 [ 0.52957665 -1.47801365  1.          0.27638877 -0.31202085]
 [ 0.20421583 -0.54487175  0.         -1.49810779 -0.31202085]
 [ 0.52957665 -1.34870432  0.          1.26303831  1.36397686]
 [-2.5613511  -0.55793594  1.          0.14385375  1.36397686]
 [-0.4465058   0.47195967  0.         -0.71762383  0.24664505]
 [-2.07330988  1.39411717  1.         -0.24638823 -0.31202085]
 [-1.09722743 -0.81883537  0.          0.77707659 -0.87068675]
 [ 0.20421583  0.09038027  1.          0.06286013  3.03997457]
 [-0.28382539  0.13386788  1.         -0.64399327 -1.98801856]
 [-0.12114498 -0.40398815  1.         -0.05494877  0.80531096]
 [ 0.20421583 -0.1437179   0.          0.65926769 -0.31202085]
 [-0.77186662 -0.81543169  1.         -0.13594238  1.92264276]
 [-0.4465058   1.29561575  1.         -0.29056657 -0.31202085]
 [-1.58526866  0.28505864  0.         -0.07703793 -0.31202085]
 [ 1.18029828  1.14345063  0.         -1.13731804 -1.98801856]
 [-0.4465058   0.85445662  0.         -0.26111434  0.80531096]
 [ 0.20421583 -0.92461167  0.         -0.99005691 -0.87068675]
 [ 0.52957665 -0.45009297  0.          1.22622302  0.24664505]
 [-1.91062947  0.66021518  1.         -0.00340737 -0.31202085]
 [-0.77186662 -0.58036354  1.          0.21012126  1.92264276]
 [ 0.52957665 -0.08286234  1.         -2.07242618  0.24664505]
 [ 0.52957665  0.62139835  1.          0.2027582  -0.87068675]
 [ 1.34297869  0.05903057  0.          0.41628684  0.24664505]
 [ 0.36689624  0.25093444  0.          0.23221043 -1.42935266]
 [-0.93454702  0.18350745  1.          2.662019    0.80531096]
 [-0.28382539  1.04399233  1.         -0.29056657  0.24664505]
 [ 0.69225705  0.58430302  0.          0.66663075 -1.98801856]
 [-0.60918621  0.18809085  1.          1.16731857  1.92264276]
 [-1.09722743 -0.53993444  0.          1.13786635  0.24664505]
 [-0.77186662  1.59613596  1.          0.93906383 -0.87068675]
 [-0.28382539  1.24768893  0.         -0.73234994  1.36397686]
 [ 1.01761787 -1.94077021  0.          0.6077263  -0.87068675]
 [-0.93454702 -0.20563083  0.         -0.91642635 -1.42935266]
 [-0.60918621  1.23232212  0.          1.06423579  1.92264276]
 [ 1.18029828  0.8949163   0.          1.53547139  0.24664505]
 [-0.28382539  0.59871296  1.          2.41903814  0.80531096]
 [-0.77186662 -0.36456399  0.         -1.15940721 -0.31202085]
 [-0.60918621 -1.29629024  1.         -0.40101241 -1.42935266]
 [-1.58526866 -0.94712666  0.          1.39557332 -0.31202085]
 [-0.28382539 -2.31639426  1.         -0.07703793  0.80531096]
 [ 1.6683395   1.44356012  1.         -0.83543273  0.24664505]
 [ 0.36689624 -0.14882997  0.         -0.65135632  0.24664505]
 [ 0.04153542 -0.80644405  0.          0.49728045  0.24664505]
 [-0.60918621  0.74031312  0.          1.28512747  1.36397686]
 [-1.25990784  1.01942378  0.         -0.216936    0.24664505]
 [ 0.20421583 -0.63937089  0.          0.31320405  1.92264276]
 [ 1.01761787 -0.67749737  1.          2.22023562  0.80531096]
 [-0.4465058   0.4123144   0.         -0.59245187 -0.31202085]
 [ 0.52957665  0.87029532  0.          0.17330598 -2.54668446]]

# Training dan Test

## Proses training

In [14]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Coba prediksi hasil dari X_test

In [15]:
Y_pred = classifier.predict(X_test)

In [16]:
print(Y_pred)

[0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 1 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 1
 1 0 0]

## Bandingkan Y_pred dengan Y_test (Y_asli)

In [17]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(Y_test, Y_pred))

# Yang memprediksi benar/tepat adalah 149+19

[[149   6]
 [ 14  19]]

In [18]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_pred, Y_test))

# Skor akurasi model adalah sebesar 89%

0.8936170212765957

# Terapkan Model pada Data test.csv

In [19]:
dataset2 = pd.read_csv('test.csv')
dataset2

                Names  ...                    Company
0         Anna Bryant  ...                Bennett Inc
1        Chris Sutton  ...                Collins Ltd
2       Connie Golden  ...               Brown-Wagner
3       Dennis Morgan  ...     Barry, Jordan and Hall
4        Erin Gilbert  ...    Ware, Williams and Hill
5        Jason Taylor  ...  Moore, Nichols and Miller
6   Kenneth Alexander  ...                 Torres Inc
7    Michael Williams  ...             Petty and Sons
8         Penny Perez  ...               Davis-Travis
9       Rachel Cherry  ...      Bishop, Tran and Pope
10       Robert Russo  ...              Hanna-Leonard
11     Robert Sanders  ...    White, Jones and Nelson
12        Sean Macias  ...              Jimenez Group
13       Seth Griffin  ...               Williams PLC
14        Tara Burton  ...                Reed-Fields
15       Yvette Perry  ...             Moore and Sons

[16 rows x 9 columns]

In [20]:
# Hilangkan variabel yang tidak digunakan
dataset2 = dataset2.drop(labels=["Onboard_date", "Location", "Company"], axis=1) # Variabel "Names" tidak dihilangkan agar dapat dipanggil nantinya
dataset2.head()

           Names  Age  Total_Purchase  Account_Manager  Years  Num_Sites
0    Anna Bryant   39         8801.86                1   4.43         10
1   Chris Sutton   37        10314.67                1   5.86          8
2  Connie Golden   39        10268.87                1   3.68          6
3  Dennis Morgan   43         8042.76                0   4.95          8
4   Erin Gilbert   35        12357.31                0   5.03         10

In [21]:
prediksi_X = dataset2.iloc[:, 1:].values
print(prediksi_X)

[[3.900000e+01 8.801860e+03 1.000000e+00 4.430000e+00 1.000000e+01]
 [3.700000e+01 1.031467e+04 1.000000e+00 5.860000e+00 8.000000e+00]
 [3.900000e+01 1.026887e+04 1.000000e+00 3.680000e+00 6.000000e+00]
 [4.300000e+01 8.042760e+03 0.000000e+00 4.950000e+00 8.000000e+00]
 [3.500000e+01 1.235731e+04 0.000000e+00 5.030000e+00 1.000000e+01]
 [4.600000e+01 5.570450e+03 0.000000e+00 2.230000e+00 7.000000e+00]
 [3.000000e+01 8.403780e+03 1.000000e+00 4.130000e+00 7.000000e+00]
 [3.500000e+01 1.557126e+04 0.000000e+00 6.450000e+00 9.000000e+00]
 [4.400000e+01 1.030915e+04 1.000000e+00 6.350000e+00 9.000000e+00]
 [5.200000e+01 9.782830e+03 0.000000e+00 3.960000e+00 7.000000e+00]
 [5.800000e+01 9.703930e+03 0.000000e+00 5.160000e+00 1.100000e+01]
 [2.900000e+01 9.378240e+03 0.000000e+00 4.930000e+00 8.000000e+00]
 [4.700000e+01 1.130610e+04 0.000000e+00 6.010000e+00 7.000000e+00]
 [4.400000e+01 1.232803e+04 1.000000e+00 4.600000e+00 9.000000e+00]
 [4.900000e+01 1.117708e+04 0.000000e+00 4.440000e+00 1.200000e+01]
 [4.100000e+01 8.560760e+03 1.000000e+00 3.990000e+00 1.200000e+01]]

In [22]:
# Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
prediksi_X[:, :2] = sc.fit_transform(prediksi_X[:, :2])
prediksi_X[:, 3:] = sc.fit_transform(prediksi_X[:, 3:])
print(prediksi_X)

[[-0.36484697 -0.60684942  1.         -0.31445947  0.70014004]
 [-0.63019022  0.09104304  1.          1.03795269 -0.42008403]
 [-0.36484697  0.06991449  1.         -1.02376655 -1.54030809]
 [ 0.16583953 -0.95703891  0.          0.17732677 -0.42008403]
 [-0.89553347  1.03335771  0.          0.25298619  0.70014004]
 [ 0.56385441 -2.09756978  0.         -2.39509356 -0.98019606]
 [-1.5588916  -0.79049246  1.         -0.5981823  -0.98019606]
 [-0.89553347  2.51602339  0.          1.59594092  0.14002801]
 [ 0.29851116  0.08849654  1.          1.50136664  0.14002801]
 [ 1.35988416 -0.15430643  0.         -0.75895857 -0.98019606]
 [ 2.15591391 -0.19070473  0.          0.37593275  1.26025208]
 [-1.69156322 -0.34095267  0.          0.15841191 -0.42008403]
 [ 0.69652603  0.54841146  0.          1.1798141  -0.98019606]
 [ 0.29851116  1.0198502   1.         -0.1536832   0.14002801]
 [ 0.96186928  0.4888917   0.         -0.30500204  1.82036411]
 [-0.09950372 -0.71807414  1.         -0.73058629  1.82036411]]

In [23]:
prediksi_Y = classifier.predict(prediksi_X)
print(prediksi_Y)

[0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1]

In [29]:
nama = dataset2["Names"].values
print(nama)

['Anna Bryant' 'Chris Sutton' 'Connie Golden' 'Dennis Morgan'
 'Erin Gilbert' 'Jason Taylor' 'Kenneth Alexander' 'Michael Williams'
 'Penny Perez' 'Rachel Cherry' 'Robert Russo' 'Robert Sanders'
 'Sean Macias' 'Seth Griffin' 'Tara Burton' 'Yvette Perry']

In [34]:
print(np.concatenate((nama.reshape(len(nama), 1), prediksi_Y.reshape(len(prediksi_Y), 1)), 1))

[['Anna Bryant' 0]
 ['Chris Sutton' 0]
 ['Connie Golden' 0]
 ['Dennis Morgan' 0]
 ['Erin Gilbert' 0]
 ['Jason Taylor' 0]
 ['Kenneth Alexander' 0]
 ['Michael Williams' 0]
 ['Penny Perez' 0]
 ['Rachel Cherry' 0]
 ['Robert Russo' 1]
 ['Robert Sanders' 0]
 ['Sean Macias' 0]
 ['Seth Griffin' 0]
 ['Tara Burton' 1]
 ['Yvette Perry' 1]]